<div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nav centrado apenas </font></font><span class="sr-only"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(atual)</font></font></span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ligação</font></font></a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Desativado</font></font></a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Suspenso</font></font></a>
      <div class="dropdown-menu" aria-labelledby="dropdown08">
        <a class="dropdown-item" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Açao</font></font></a>
        <a class="dropdown-item" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Outra ação</font></font></a>
        <a class="dropdown-item" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Outra coisa aqui</font></font></a>
      </div>
    </li>
  </ul>
</div>